<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bat.ibatis.dao.CountryDao">

    <select id="getCountryList" parameterType="long" resultType="com.bat.ibatis.po.CountryPO">
        select id, countryName, countryCode from country
    </select>
</mapper>