<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bat.ibatis.dao.SysRoleDao">

    <select id="getSysRoleByUserUuid" resultType="SysRolePO">
        select s1.roleUuid, s1.roleName, s1.createTime, s1.updateTime, s3.userUuid, s3.username from sys_role s1
        inner join sys_user_role_rel s2 on s2.roleUuid = s1.roleUuid
        inner join sys_user s3 on s3.userUuid = s2.userUuid
        where s3.userUuid = #{userUuid}
    </select>

    <insert id="insertSysRole" parameterType="SysRolePO">
        insert into sys_role (roleUuid, roleName, createTime) values (#{roleUuid}, #{roleName}, #{createTime})
    </insert>
</mapper>