<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bat.ibatis.dao.SysUserDao">

    <resultMap id="sysUserMap" type="SysUserPO">
        <!-- 指定主键的字段-->
        <id property="userUuid" column="user_uuid"/>
        <result property="userName" column="user_name"/>
        <result property="userType" column="user_type"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <collection property="sysRoleList" ofType="SysRolePO"
                    select="com.bat.ibatis.dao.SysRoleDao.getSysRoleByUserUuid" column="{userUuid = user_uuid}"
                    fetchType="lazy"/>
    </resultMap>

    <select id="getSysUserList" resultMap="sysUserMap">
        select s1.user_uuid, s1.user_name, s1.user_type, s1.password, s1.email, s1.phone, s1.create_time, s1.update_time
        from sys_user s1
        <where>
            <if test="condition.accountName != null and condition.accountName != ''">
                and s1.username = #{condition.accountName} or s1.email = #{condition.accountName} or s1.phone =
                #{condition.accountName}
            </if>

            <if test="condition.username != null and condition.username != ''">
                and s1.user_name like CONCAT('%',#{condition.userName},'%')
            </if>

            <if test="condition.userUuidList != null and condition.userUuidList.size > 0">
                and s1.user_uuid in
                <foreach collection="userUuidList" open="(" close=")" separator="," item="userUuid" index="i">
                    #{condition.userUuid}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="insertSysUser" parameterType="SysUserPO">
        insert into sys_user (user_uuid, user_name, user_type, password, email, phone, create_time) values (#{userUuid}, #{userName}, #{userType}, #{password}, #{email}, #{phone}, #{createTime})
    </insert>

    <insert id="batchInsertSysUser">
        insert into sys_user (user_uuid, user_name, user_type, password, email, phone, create_time) values
        <foreach collection="sysUserList" item="sysUser" separator=",">
            (#{sysUser.userUuid}, #{sysUser.userName}, #{sysUser.userType}, #{sysUser.password}, #{sysUser.email},
            #{sysUser.phone}, #{sysUser.createTime})
        </foreach>
    </insert>

    <update id="updateSysUser" parameterType="SysUserPO">
        update sys_user
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>

            <if test="userType != null and userType != ''">
                user_type = #{userType},
            </if>

            <if test="password != null and password != ''">
                password = #{password},
            </if>

            <if test="email != null and email != ''">
                email = #{email},
            </if>

            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>

            <if test="updateTime != null and updateTime != ''">
                update_time = #{updateTime},
            </if>
        </set>
        where user_uuid = #{userUuid}
    </update>
</mapper>