<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bat.ibatis.dao.SysUserDao">

    <select id="getSysUserPO" parameterType="string" resultType="SysUserPO">
        select userUuid, username, password, email, phone, extInfo, img, createTime, updateTime from sys_user
    </select>

</mapper>