<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bat.ibatis.dao.SysUserDao">

    <select id="getSysUserList" resultType="SysUserPO">
        select userUuid, username, password, email, phone, createTime, updateTime from sys_user
        <where>
            <if test="accountName != null and accountName != ''">
                and username = #{accountName} or email = #{accountName} or phone = #{accountName}
            </if>

            <if test="username != null and username != ''">
                and username like CONCAT('%',#{username},'%')
            </if>

            <if test="userUuidList != null and userUuidList.size > 0">
                and userUuid in
                <foreach collection="userUuidList" open="(" close=")" separator="," item="userUuid" index="i">
                    #{userUuid}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="insertSysUser" parameterType="SysUserPO">
        insert into sys_user (userUuid, username, password, email, phone, createTime) values (#{userUuid}, #{username}, #{password}, #{email}, #{phone}, #{createTime})
    </insert>

    <insert id="batchInsertSysUser">
        insert into sys_user (userUuid, username, password, email, phone, createTime) values
        <foreach collection="sysUserList" item="sysUser" separator=",">
            (#{sysUser.userUuid}, #{sysUser.username}, #{sysUser.password}, #{sysUser.email}, #{sysUser.phone}, #{sysUser.createTime})
        </foreach>
    </insert>

    <update id="updateSysUser" parameterType="SysUserPO">
        update sys_user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>

            <if test="password != null and password != ''">
                password = #{password},
            </if>

            <if test="email != null and email != ''">
                email = #{email},
            </if>

            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>

            <if test="updateTime != null and updateTime != ''">
                updateTime = #{updateTime},
            </if>
        </set>
        where userUuid = #{userUuid}
    </update>
</mapper>