<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--外部配置文件-->
    <properties resource="config.properties"/>

    <!--日志打印-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>

        <!--是否开启驼峰命名自动映射-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 起别名方便配置 -->
    <typeAliases>
        <package name="com.bat.ibatis.entity"/>
    </typeAliases>

    <environments default="company">
        <!--company_102-->
        <environment id="company">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <!--扫描mapper配置-->
        <mapper resource="mapper/UserPOMapper.xml"/>
        <mapper resource="mapper/UserDetailPOMapper.xml"/>

        <!--不生效 TODO-->
        <!--<package name="mapper"/>-->
    </mappers>
</configuration>